[mysqld]
max_connections = 50

general_log = 1
general_log_file = /var/log/mysql/general.log

slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow_query.log
long_query_time = 1
log_output = FILE